body{
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
}

.body{
    width: 100%;
    height: 100%;
    background-color: aliceblue;
}
.nav{
    background-color: rgb(133, 133, 133);
    border-radius: 4px;
    position: relative;
}
.nav .nav-ul{
    margin-left: 600px;
    display: flex;
    list-style-type: none;
    right: 30%;
}
.nav .nav-ul img{
    width: 100px;
    height: 80px;
}
.nav .nav-ul li{
    margin: 15px;
    transition: 0.5s;
    font-size: 20px;
    color: white;
}
.nav .nav-ul li:hover{
   text-decoration: underline;
   color: tomato;
}



.slider{
    width: 1200px;
    max-width: 100vh;
    height: 500px;
    margin: auto;
    position: relative;
    overflow: hidden;
}

.list{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    display: flex;
    width: max-content;
    transition: 1s;
}
.list img{
    width: 1200px;
    max-width: 100vh;
    height: 100%;
    object-fit: cover;
}
.buttons{
    position: absolute;
    top: 45%;
    left: 5%;
    width: 90%;
    display: flex;
    justify-content: space-between;
}
.buttons button{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #fff5;
    color: #fff;
    border: none;
    font-family: monospace;
    font-weight: bold;
}
.dots{
    position: absolute;
    bottom: 10px;
    color: #fff;
    left: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}
.dots li{
    list-style-type: none;
    width: 15px;
    height: 15px;
    background-color: #fff;
    margin: 20px;
    border-radius: 20px;
    transition: 1s;
    cursor: pointer;
}
.dots li.active{
    width: 30px;
}
.buttons button:hover{
    background-color: beige;
}
.buttons button:hover{
    background-color: antiquewhite;
}

/* Product All---------------------------------------------------- */

.Product-All {
    min-height: 70px;
    margin-top: 10px;
}

.Product-All a {
    font-size: 20px;
    margin-left: 50px;
    margin-top: 100px;
    padding: 50px 0;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: red;
}
.Product-All a:hover {
    text-decoration: underline;
}

/* Product new  ------------------------------------*/
.Product-News {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%; 
    padding: 0 4%;
}

.Product-News .item-procdut {
        margin: 20px;
        text-align: center;
        background-color: #e5e7eb;
        border-radius: 5px;
}

.Product-News .item-procdut img{
    max-width: 70%;
    min-height: 145px;
    padding: 15px 0 0 0;
    border-radius: 7px;
}

.Product-News .item-procdut h4{
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
    margin: -0%;
    padding: 7px; 
}
.Product-News .item-procdut p {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 10px;
}

.Product-News .item-procdut button {
    padding: 10px 15px;
    margin-bottom: 15px;
    font-size: 20px;
    border: none;
    background-color: #f0d7d7;
    border-radius: 20px;
}
.Product-News .item-procdut button:hover {
    cursor: pointer;
    background: #FF6969;
    font-weight: 700;
    color: #ffffff;
    transition: all 0.2s ease-in; 
}

/* Product nam ----------------------------------*/
.Product-Nam {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%; 
    padding: 0 4%;
}

.Product-Nam .item-procdut {
        margin: 20px;
        text-align: center;
        background-color: #e5e7eb;
        border-radius: 5px;
}

.Product-Nam .item-procdut img{
    max-width: 70%;
    min-height: 145px;
    padding: 15px 0 0 0;
    border-radius: 7px;
}

.Product-Nam .item-procdut h4{
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
    margin: -0%;
    padding: 7px; 
}
.Product-Nam .item-procdut p {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 10px;
}

.Product-Nam .item-procdut button {
    padding: 10px 15px;
    margin-bottom: 15px;
    font-size: 20px;
    border: none;
    background-color: #f0d7d7;
    border-radius: 20px;
}
.Product-Nam .item-procdut button:hover {
    cursor: pointer;
    background: #FF6969;
    font-weight: 700;
    color: #ffffff;
    transition: all 0.2s ease-in; 
}

/* Produc nữ -----------------------------------*/

.Product-Nu {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%; 
    padding: 0 4%;
}

.Product-Nu .item-procdut {
        margin: 20px;
        text-align: center;
        background-color: #e5e7eb;
        border-radius: 5px;
}

.Product-Nu .item-procdut img{
    max-width: 70%;
    min-height: 145px;
    padding: 15px 0 0 0;
    border-radius: 7px;
}

.Product-Nu .item-procdut h4{
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
    margin: -0%;
    padding: 7px; 
}
.Product-Nu .item-procdut p {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 10px;
}

.Product-Nu .item-procdut button {
    padding: 10px 15px;
    margin-bottom: 15px;
    font-size: 20px;
    border: none;
    background-color: #f0d7d7;
    border-radius: 20px;
}
.Product-Nu .item-procdut button:hover {
    cursor: pointer;
    background: #FF6969;
    font-weight: 700;
    color: #ffffff;
    transition: all 0.2s ease-in; 
}
/* Footer -----------------------*/
img{
    width: 150px;
}
.footer{
    margin-top: 1rem ;
    background-color: rgb(133,133,133);
    padding: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
}
 a {
    text-decoration: none;
    list-style: none;
    color: #fff;
    line-height: 2.8rem;
}
#box{
    padding-top: 2rem;
}
/* phần đầu  */
.contair .first-part {
    display: flex;

}
.contair .first-part h2{
    margin-top: 30px;
    font-size: 2rem;
    font-style: italic;
    color: aqua;
}
.contair .hosn {
    margin-left: 6rem;
    font-size: 1.3rem;
    text-decoration: none;
    list-style: none;
    color: #fff;
    line-height: 2.8rem;
}
/* .contair .hosn a  :hover{
    color: #000000;
} */

/* phần giữa */

.contair .box-pay h3{
    font-size: 1.3rem;
}
.contair .box-pay img{
    width: 50px;
    padding :1rem;
}
.contair .box-monitor h3 {
    font-size: 1.3rem;
}
.contair .box-monitor a{
    padding: 2rem;
    font-size: 2rem;
}
.contair .box-monitor a .logo-youtube:hover{
    color : red;
}
.contair .box-monitor a .logo-facebook:hover{
    color : #4267b2;
}
.contair .box-monitor a .logo-instagram:hover{
    color : #BC2A8D;
}
.contair .box-monitor a .logo-twitter:hover{
    color : #1DA1F2;
}
/* phần cuối */
.contair h3{
    font-size: 1.3rem;
}
.contair span {
    font-size: 1rem;
}











